In [ ]:
  Answer = 1
    
    variable=["Rahul","Sahani",["gold","silver",123, 1245,123.122 ,True,False,3+4j],567.234, (343,34.34,True, "power")]

In [ ]:
 Answer = 2
    
    (i)	  var1 = ‘ ‘                                it has no data type
    (ii)	var2 = ‘[ DS , ML , Python]’            the data type of var2 is string
    (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]        the data type of var3 is list
    (iv)	var4 = 1                                   the data type of var4 is float

In [3]:
 Answer = 3

In [2]:
# (i) / 
 a=3
s=3
c=a/s

In [3]:
c

1.0

In [4]:
      # (ii) % 
a=4
s=4
c=a%s

In [5]:
c

0

In [6]:
# (iii)	//
a=101
s=4
c=a//s

In [7]:
c

25

In [8]:
# (iv)	**
a=7
s=2
c=a**s

In [9]:
c

49

In [ ]:
Answer =4

In [18]:
list = [12,134,123.23,"rahul","sahani", True, False, 3+4j]
for i in list:
    print(i)

12
134
123.23
rahul
sahani
True
False
(3+4j)

In [21]:
c= 4/2

In [22]:
c

2.0

In [ ]:
Answer =4

In [1]:
a = int(input("Enter the number a: "))
b =  int(input("Enter the number b: "))

times = 0

while a % b == 0:
    a = a / b
    times +=1
    
if times > 0:
    print (f" The number {b} is purely divisible by number {a}  at { times } times." )
else:
    print (f"The number {b} is not purely divisible by number {b}.")

Enter the number a:  456
Enter the number b:  2

 The number 2 is purely divisible by number 57.0  at 3 times.

In [2]:
Answer = 6

In [12]:
list =  [1,2,3,4,5,6,7,8,9,10,11,12,1314,15,16,17,18,19,20,21,22,23,24,25]
print(list)
for i in list:
    if i % 3 == 0:
        print(" {i} is divisible by 3")
    else:
        print(" {i} is not divisible by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1314, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
 {i} is not divisible by 3
 {i} is not divisible by 3
 {i} is divisible by 3
 {i} is not divisible by 3
 {i} is not divisible by 3
 {i} is divisible by 3
 {i} is not divisible by 3
 {i} is not divisible by 3
 {i} is divisible by 3
 {i} is not divisible by 3
 {i} is not divisible by 3
 {i} is divisible by 3
 {i} is divisible by 3
 {i} is divisible by 3
 {i} is not divisible by 3
 {i} is not divisible by 3
 {i} is divisible by 3
 {i} is not divisible by 3
 {i} is not divisible by 3
 {i} is divisible by 3
 {i} is not divisible by 3
 {i} is not divisible by 3
 {i} is divisible by 3
 {i} is not divisible by 3

In [13]:
answer = 7

In [ ]:
An immutable object is an object whose value cannot be changed once it is created. Any operation that appears to modify an immutable
object actually creates a new object with the modified value. Examples of immutable data types in Python include integers, floats, complex
numbers, strings, and tuples

In [15]:
# Creating a set
my_set ={ 1, 2, 3}
my_set [2]=3

TypeError: 'set' object does not support item assignment

In [ ]:
A mutable object, on the other hand, is an object whose value can be changed once it is created. Examples of mutable
data types in Python include lists, dictionaries, and sets.

In [16]:
list= ["hot","cool",3,4,5.34,True]
list[2]= "mixture"

In [17]:
list

['hot', 'cool', 'mixture', 4, 5.34, True]